<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body style="margin-left: 50px; margin-top: 70px">
    <h1><%= title %></h1>
    <div style="border: brown; font-size: large; font-weight: bold;">
    <p>Selamat Datang Di Program CRUD</p>
  </div>
    <button style="padding: 10px; width: 20rem; background-color: violet;"><a href="/posts">CRUD</a></button>

    <div>
      <p>LUTHFI MUHAMMAD BAIHAQI</p>
    </div>
  </body>
</html>
