<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
  </head>
  <body style="margin-left: 50px; margin-top: 70px">
    <h1><%= title %></h1>
    <p>Selamat Datang Dalam Program CRUD sedeherhana</p>
    <button style="padding: 5px; width: 10rem; background-color: bisque;"><a href="/posts">Masuk</a></button>
  </body>
</html>
